<h2>List of all sensors</h2>

<div *ngIf="!sensors">Loading...</div>
   
<div class="table-responsive" *ngIf="sensors">
  <table class="table">

      <thead>
        <tr>
        <th>Serial Nr</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Link with token</th>
        <th>QR Code</th>
        <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of sensors">
          <td>{{sensor.serialNumber}}</td>
          <td>{{sensor.latitude}}</td>
          <td>{{sensor.longitude}}</td>
          <td>
            <a (click)="GoTo(sensor.token)">{{sensor.token}}</a>
          </td>
          <td>
            <ngx-qrcode qrc-class="qr" [qrc-element-type]="url" [qrc-value]="url + sensor.token"></ngx-qrcode>
            <td>
              <!-- <td>
                          <a (click)="goToDetailsPage(sensor)" class="btn btn-success">Details</a>
                          <a (click)="goToEditPage(sensor)" class="btn btn-primary">Edit</a>
                          <a (click)="goToDeletePage(sensor)" class="btn btn-danger">Delete</a>
                        </td> -->
        </tr>
      </tbody>
  </table>
</div>

